/*τεσταρισμένο σε opera v117.0.5408.197, μέσω dev tools το grid δουλεύει σωστά
αλλά κάτω από το footer μένει άσπρο κενό σαν margin, όταν γίνεται testing
χωρίς devtools (απλό drag του browser σε μικρότερες διαστάσεις) δεν εμφανίζεται το πρόβλημα*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.footer {
    background-color: midnightblue;
    color: white;
    padding: 10px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .contact-info a {
    color: white
  }
  
  @media (max-width: 768px) {
    .footer-content {
      grid-template-columns: 1fr;
    }
  }